<section class="home-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <h2>Abonnez-vous à notre newsletter</h2>
                    <div class="input-group">
                        <input
                            type="email"
                            class="form-control"
                            placeholder="Entrez votre email"
                        />
                        <span class="input-group-btn">
                            <button class="btn btn-theme" type="submit"
                                >S'abonner</button
                            >
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
