.main-heading h1 {
    text-align: initial !important;
}

.experience-badge>.stats-arrow {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
}

.experience-badge>.stats-arrow>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #0a0f4f;
    border-radius: 50%;
    color: var(--contrast-color);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.experience-badge>.stats-arrow>a:hover {
    transform: translateY(-3px);
    background-color: color-mix(in srgb, #0a0f4f, transparent 20%);
}


/* Video Section */

.fluid-shape {
    width: 100%;
    /* aspect-ratio: 16 / 9; */
    max-height: 100%;
}

#video-thumbnail {
    width: 100%;
    height: 100%;
}

#video-thumbnail:hover .rounded-circle {
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .rounded-circle {
        width: 60px !important;
        height: 60px !important;
    }
    .rounded-circle svg {
        width: 30px;
        height: 30px;
    }
}

.video-img {
    transition: transform 0.3s ease;
}

#video-thumbnail:hover .video-img {
    transform: scale(1.1);
}

#video-thumbnail:hover .rounded-circle {
    transform: scale(1.1);
}

.text-primary[fill="currentColor"] {
    color: #0a0f4f !important;
}


/* Video Section */

.entry-meta.badge.bg-primary {
    color: white !important;
    font-weight: 600 !important;
    background-color: #0a0f4f !important;
}

.services {
    margin-top: -160px;
}

@media (max-width: 768px) {
    .services {
        margin-top: -100px;
    }
    section#team>.section-title {
        padding-bottom: 0px;
    }
    section#team .content-inner {
        margin-top: 0px;
    }
}


.home-newsletter {
    padding: 80px 0;
    background: #e30f29;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #0a0f4f ;
    color: #fff;
}