---
const items = [
    {
        img: "/video-publicitaire-nos-réalisations/1.webp",
        name: "Auto hamid larache",
        url: "https://www.facebook.com/reel/2615905811935303",
    },
    {
        img: "/video-publicitaire-nos-réalisations/2.webp",
        name: "Kasr al baraka",
        url: "https://www.facebook.com/reel/483578264461115",
    },
    {
        img: "/video-publicitaire-nos-réalisations/3.webp",
        name: "Uk cafe",
        url: "https://www.facebook.com/reel/1659695201318779",
    },
    {
        img: "/video-publicitaire-nos-réalisations/4.webp",
        name: "Grander berry",
        url: "https://www.youtube.com/watch?v=eiRaI1UxT58",
    },
    {
        img: "/video-publicitaire-nos-réalisations/5.webp",
        name: "Immobilier Moulay bousslham",
        url: "https://www.youtube.com/watch?v=m5A1xviDP98",
    },
    {
        img: "/video-publicitaire-nos-réalisations/6.webp",
        name: "Green Land Larache",
        url: "https://www.facebook.com/reel/1743155456206139",
    },
];
---

<link
    rel="preload"
    href="/assets/styles/sections/video-publicitaire-slider.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>

<section class="steps section our-features">
    <!-- Section Title -->
    <div class="service-header">
        <div class="container">
            <h2 style="font-weight: 600;">Nos réalisations chez Brosmedia</h2>
        </div>
    </div>

    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            {
            items.map((item) => (
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img
                        src={item.img}
                        alt=""
                    />
                </div>
                <div class="blog-slider__content">
                    {/* <span class="blog-slider__code">26 December 2019</span> */}
                    <div class="blog-slider__title">{item.name}</div>
                    {/* <div class="blog-slider__text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Recusandae voluptate repellendus magni illo ea
                        animi?
                    </div> */}
                    <a href={item.url} target="_blank" class="blog-slider__button">Regarder la vidéo</a>
                </div>
            </div>
            ))
          }
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".blog-slider", {
            spaceBetween: 30,
            effect: "fade",
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: ".blog-slider__pagination",
                clickable: true,
            },
        });
    });
</script>
