---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import "swiper/css";
import "glightbox/dist/css/glightbox.min.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Message from "../components/message.astro";
import "../../public/assets/styles/main.css";
import "../../public/assets/styles/home.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{pageTitle}</title>

    </head>
    <body>
        <div class="bg-white">
            <Header />
        </div>
        <slot />
        <!-- Scroll Top -->
        <a
            href="#"
            id="scroll-top"
            class="scroll-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i></a
        >
        <a href="#" id="chat-button" class="chat-icon">
            <i class="bi bi-chat-dots-fill"></i>
        </a>
        <Message />

        <Footer />

        <script src="../../public/libs.js"></script>
        <script src="../../public/main.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                (function () {
                    emailjs.init("a0BnjUTyKVDvAuKZT");
                })();
            });
        </script>

        <!-- Meta Pixel Code -->
        <script>
            (function () {
                var PIXEL_ID = "940762620305099"; // change this!

                function injectPixel() {
                    if (window.fbq) return;

                    !(function (f, b, e, v, n, t, s) {
                        if (f.fbq) return;
                        n = f.fbq = function () {
                            n.callMethod
                                ? n.callMethod.apply(n, arguments)
                                : n.queue.push(arguments);
                        };
                        if (!f._fbq) f._fbq = n;
                        n.push = n;
                        n.loaded = !0;
                        n.version = "2.0";
                        n.queue = [];
                        t = b.createElement(e);
                        t.async = !0;
                        t.src = v;
                        s = b.getElementsByTagName(e)[0];
                        s.parentNode.insertBefore(t, s);
                    })(
                        window,
                        document,
                        "script",
                        "https://connect.facebook.net/en_US/fbevents.js",
                    );

                    fbq("init", PIXEL_ID);
                    fbq("track", "PageView");
                }

                if ("requestIdleCallback" in window) {
                    requestIdleCallback(injectPixel, { timeout: 2000 });
                } else {
                    window.addEventListener("load", injectPixel);
                }
            })();
        </script>
        <!-- End Meta Pixel Code -->
    </body>
</html>
